<nav class="navbar">
    <a class="logo" href="/">
        <span class="logo-script">Script</span>
        <span class="logo-blocks">Blocks</span>
    </a>
    <div class="nav-links">
        <a href="/">Home</a>
        <span class="divider"></span>
        <a href="/docs">Docs</a>
        <span class="divider"></span>
        <a href="https://github.com/ScriptBlocks/ScriptBlocks/releases/latest" target="_blank">Download</a>
    </div>
</nav>
