<!DOCTYPE html>
<html lang="en">
    <!-- Include the head partial and pass the title -->
    <%- include('partials/head', { title: title }) %>
<body>
    <!-- Include the navbar partial -->
    <%- include('partials/navbar') %>
    
    <main class="main">
        <div id="title">ScriptBlocks</div>
        <div id="subtitle">The next-gen IDE</div>
    </main>
    <p id="desc">ScriptBlocks is an IDE designed for both beginners and professionals, helping to bridge the gap for beginners to improve their skills.</p>
    
    <div class="code-block">
        <div class="code-header">
            <span class="code-language">Bash</span>
            <span class="code-copy">Copy</span>
        </div>
        <pre><code class="bash"><span class="bash-prompt">$</span> <span class="bash-command">git clone https://github.com/ScriptBlocks/example-project.git</span></code></pre>
    </div>

    <div class="code-block">
        <div class="code-header">
            <span class="code-language">Python</span>
            <span class="code-copy">Copy</span>
        </div>
        <pre><code class="python">import scriptblocks
            
app = scriptblocks.App()
app.name = "Welcome to ScriptBlocks!"

app.render()</code></pre>
    </div>
    
    <!-- Include the JavaScript for copy functionality -->
    <script src="/js/script.js"></script>
</body>
</html>
